html {
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: black;
  font-weight: none;
  font-size: 12px;
}

a:hover{
  text-decoration: underline;
}
/*Header Section*/
.header {
  height: 50px;
}

ul {
  padding: 0;
}

li {
  display: inline;
  float: right;
  margin-right: 10px;
}

.header div{
  margin-right: 10px;
}

.gmail {
  margin-top: 8px;
}

#signIn {
  background-color: #4385f7;
  border-radius: 3px;
  color: white;
  text-shadow: none;
  border-style: none;
  height:30px;
  width: 86px;
  font-weight: bold;
}

/*Middle Section*/

#wrap {
  height: 100%;
}

#main {
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
}

.logo {
  position: relative;
  top: 30px;
  margin: 40px auto;
}

.logo p{
  padding:0;
  position: relative;
  left: 100px;
  top: -40px;
  color: #4285f4;
}

form {
  padding:  
}

input{
  margin: 5px;  
}

.mytext{
  width: 550px;
  height: 35px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 2px #c9c9c9
}

input[type="button"]{
  margin: 15px 15px;
  border-radius: 2px;
  padding: 5px 20px;
  border: none;
  background-color: #F2F2F2;
  font-weight: 500;
  font-size: 14px;
  color: #808080;
}


/*Footer Section*/
.footer {
    height: 40px;
    background-color: #f2f2f2;
    position: relative;
    border-top: 1px solid #E4E4E4;
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    clear: both;
}

.footer ul {
    padding: 8px;
    margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.item a{
  margin-right: 35px;
  color: #808080;
}

